@model IEnumerable<Article>

@foreach (var article in Model)
{
<div class="element">
    <div class="element__inner">
        <div class="element__top">
            <a asp-action="Show" asp-controller="Article" asp-route-id="@article.Id">
                <div class="element__img ibg">
                    <img src="@article.Content.LogoPicture.Path " alt="">
                </div>
            </a>
        </div>
        <div class="element__title">
            <a asp-action="Show" asp-controller="Article" asp-route-id="@article.Id">
                <h2>@article.Name</h2>
            </a>
        </div>
        <div class="element__data">
            <div class="element__data-inner">
                <div class="element__data-creator element__data-icon">
                    @article.Author.UserName  
                </div>
                <div class="element__data-calendar element__data-icon">
                    @article.TimeOfCreation.ToString("MM/dd/yyyy");
                </div>
            </div>
        </div>
        <div class="element__text">
            <p>
                @article.Content.Text  
            </p>
        </div>
        <div class="element__data-rating">
            <div class="element__data__like element__data-icon">
                @article.Likes
            </div>
            <div class="element__data__comment element__data-icon">
                @article.Comments.Count 
            </div>
        </div>
    </div>
</div>
}
