@model ProgrammingArticles.Models.User

<h1>Account info</h1>
<p>Welcome @Model.UserName</p>
<ul>
    <li>Your ID: @Model.Id </li>
    <li>Your email: @Model.Email</li>
    <li>Your likes: @Model.Likes </li>
    <li>Your articles: @Model.CreatedArticles.Count </li>
</ul>