@model ProgrammingArticles.Models.Article

<h1>@Model.Name</h1>
<p>@Model.Content.Text</p>

<form method="post" asp-action="Like" asp-controller="Article" asp-route-id="@Model.Id ">
    <input type="submit" value="Like"/>
</form>
<form method="post" asp-action="Dislike" asp-controller="Article" asp-route-id="@Model.Id ">
    <input type="submit" value="Dislike" />
</form>
@{
    await Html.RenderPartialAsync("_GetComments", Model.Comments);
}
<form method="post" asp-action="SendComment" asp-controller="Article" asp-route-id="@Model.Id">
    <input type="text" name="text" placeholder="comment..."/>
    <input type="submit" value="Send" />
</form>